*{
    margin:0;
    padding:0;
}

.boxes{
    width:30px;
    height:30px;
    background-color:rgb(215, 151, 32);
    padding:20px;
    margin:20px;
    border: 3px solid rgb(150, 44, 199);
    

}
.box{
    background-color: rgb(229, 221, 74);
    display:flex;
    justify-content: center;
    align-items: center;
    gap:70px;

}
.image{
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.-TLwIw5YKb3R-ptNky9tagHaE8?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3");
    
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size:cover;

}
